<div class="card-product mb-4" style="width: 450px; height: 100px">
  <% if meal_order.meal.photos.attached? %>
    <%= cl_image_tag meal_order.meal.photos.first.key %>
  <% else %>
    <%= image_tag meal_order.meal.picture_url %>
  <% end %>
  <div class="card-product-infos d-flex justify-content-between w-100">
    <div>
      <h2 class="mb-2"><%= meal_order.meal.name %></h2>
      <h6>Qty: <%= meal_order.quantity_ordered %></h6>
    </div>
    <div style="margin-right: 15px">
      <h2 class="mb-2"><%= humanized_money_with_symbol(meal_order.total_price) %></h2>
    </div>
  </div>
</div>
