<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" data-controller="navbar">
  <div class="container-fluid">
    <div class="left-icons">
      <div id="mySidebar" class="sidepanel" data-navbar-target="sidebar">
          <a class="closebtn" data-action="click->navbar#closeNav">&times;</a>
          <% if user_signed_in? %>
          <a href="#">Current orders</a>
          <a href="#">Past orders</a>
          <a href="#">My Meal listings</a>
          <%= link_to "Add a new meal", new_meal_path %>
          <% else %>
          <%= link_to "Signup", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
          <% end %>
        </div>

    <div class="d-flex align-items-center" id="main">
      <div><button class="openbtn center-cropped d-flex align-items-center" data-action="click->navbar#openNav">&#9776</button></div>
      <div><%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo.png", width: 29, height: 35%>
      <% end %>
      </div>
    </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <%# <li class="nav-item active">
            <%= link_to "Sign Up", "#", class: "nav-link" %>
          <%# </li>
          <li class="nav-item">
            <%= link_to "Cart", cart_path, class: "nav-link" %>
          <%# </li> %>
          <div class="d-flex align-content-center mr-2">
          <%= link_to cart_path, class: "navbar-brand" do %>
              <%= image_tag "basket.png", width: 25, height: 25 %>
          <% end %>
          </div>
          <li class="nav-item dropdown">
            <%= image_tag "https://avatars.githubusercontent.com/u/90439290?v=4", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My orders", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item ">
            <div>
              <%= link_to "Signup", new_user_session_path, class: "btn signup" %>
            </div>
          </li>
          <li class="nav-item">
            <div>
              <%= link_to "Login", new_user_session_path, class: "btn login" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
