
<div class="container">
  <div class="row">
    <div class="col-6 mt-3">
      <div class="row align-items-center">
        <img src="https://storytale-public2.b-cdn.net/2021/08/16/507e4f9c-353c-428e-87c4-e2d58d33b661-Congratulations.png?height=410" alt="excited" class="col-6">
        <h3 class="text-center col-6">Thank You, Enjoy!</h3>
      </div>
      <div>
        <h5 class="mt-3 text-center">Your order details:</h5>
        <h6 class="mt-5 text-center"><strong>Order number:&nbsp;</strong><%= @order.id %></h6>
        <div class="d-flex flex-column align-items-center">
          <% @order.meal_orders.each do |meal_order| %>
            <div class="col-12 col-sm-6">
              <div class="card mb-3" style="max-width: 18rem;">
                <div class="card-header"><%= meal_order.meal.name %> x<%= meal_order.quantity_ordered %></div>
                <div class="card-body">
                  <p class="card-title">Home cook: <%= meal_order.meal.user.name %></p>
                  <p class="card-text">Contact number: <%= meal_order.meal.user.phone_number %></p>
                  <p class="card-text"><strong>Pick up details:</strong></p>
                  <p class="card-text">Date: <%= meal_order.pick_up.strftime("%d/%m/%y") %></p>
                  <p class="card-text">Time: <%= meal_order.pick_up.strftime("%I:%M %p") %></p>
                  <p class="card-text">Address: <%= meal_order.meal.address %></p>

                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div id="map" style="width: 100%; height: 100vh; position: sticky; top: 0;"
        data-mapbox-markers-value="<%= @markers.to_json %>"
      data-controller="mapbox"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
</div>
