<div class="container pt-4">
  <div class="row">
  <div>
  <div>
    <div class="col-lg-6">
      <div >
        <div class="card-product" style="height: auto; width: 400px;">
          <div class="card-product-infos">
            <div class="p-5" id="newform">
              <div class="m-2  d-flex flex-column">
                <h3 class="d-flex justify-content-center">Thank You, Enjoy!</h3>
                <h5>Here are the details:</h5>
              </div>
              <div class= "m-2 d-flex flex column"><strong><h6>Order ID:</strong><%= @order.id %></h6></div>
                <div class="m-2 d-flex flex-column" >
                  <% @order.meal_orders.each do |item| %>
                  <div><strong>
                    <h6>Chef:</strong> <%= item.meal.user.name %></h6>
                  </div>
                  <div><strong>
                    <h6>Chef Number:</strong> <%= item.meal.user.phone_number %></p>
                    <h6><strong>Pick up time:</strong> <%= item.pick_up.strftime("%I:%M %p") %></h6>
                  </div>
                  <%end%>
                    <div class="d-flex justify-content-center m-4">
                      <%= link_to "Home Page", meals_path(@order), class: "btn btn-outline-secondary mx-2" %>
                      <%# <%= link_to "orders Page", orders_path(@order), class: "btn btn-outline-secondary mx-2 btn" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div id="map" style="width: 100%; height: 100vh; position: sticky; top: 0;"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-controller="mapbox"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>
    </div>
  </div>
  </div>
  </div>
</div>
