<div class="d-flex justify-content-center">
<div class="card-product" style="height: 500px; width: 400px;">
  <div class="card-product-infos">
    <div class="p-5" id="newform">
  <div class="m-2  d-flex flex-column">
    <h3 class="d-flex justify-content-center">You've successfully placed an order!</h3>
    <h4>Here are the details:</h4>
  </div>
  <div class="m-2 d-flex flex-column" >
    <% @order.meal_orders.each do |item| %>
    <div><strong><h6>Your order:</strong> <%= item.meal.name %></h6></div>
    <div><strong><h6>Item Price:</strong> $<%= item.meal.price.truncate() %></h6></div>
    <div><strong><h6>Quantity:</strong> <%= item.quantity_ordered %></h6></div>
    <div><strong><h6>Chef:</strong> <%= item.meal.user.name %></h6></div>
    <div><strong><h6>Chef Number:</strong> <%= item.meal.user.phone_number %></p></div>
    <div><strong><h6>Order Total Price:</strong> $<%= item.total_price.truncate() %></h6></div>
    <%end%>

  </div>
  </div>

  </div>
</div>
</div>
<div class="d-flex justify-content-center m-4">
    <%= link_to "Home Page", meals_path(@order), class: "btn btn-outline-secondary mx-2" %>
    <%# <%= link_to "orders Page", orders_path(@order), class: "btn btn-outline-secondary mx-2 btn" %>
  </div>
