<div id="carouselExampleIndicators<%= meal.id + 1  %>" class="carousel slide" data-bs-interval="false">
  <div class="carousel-indicators">
    <% meal.photos.each_with_index do |photo, index| %>
      <button type="button" data-bs-target="#carouselExampleIndicators<%= meal.id + 1 %>" data-bs-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>" <%= index == 0 ? 'aria-current="true"' : '' %> ></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% if meal.photos.present? %>
      <% meal.photos.each_with_index do |photo, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
          <%= cl_image_tag photo.key, class:"carousel-img w-100", height: 200 %>
        </div>
      <% end %>
    <% else %>
      <% if meal.picture_url.present? %>
        <%= image_tag meal.picture_url, class:"carousel-img w-100", height: 200 %>
      <% end %>
    <% end %>
  </div>
  <% if meal.photos.present? %>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators<%= meal.id + 1 %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators<%= meal.id + 1 %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  <% end %>
</div>
<%= link_to meal_path(meal), class:"text-decoration-none" do %>
  <div class="mapbox-text">
    <h6 class="mb-0"><%= meal.name %></h6>
    <p class="mb-0">Made with ❤️ &nbsp;by <%= meal.user.name %></p>
    <p class="mb-0"><%= humanized_money_with_symbol(meal.price) %>/serving</p>
    <p class="mb-0">Available from: <br>
 <%= meal.collect_from.strftime("%m/%d, %H:%M") %> - <%= meal.collect_to.strftime("%m/%d, %H:%M") %></p>
  </div>
  <img src="<%= url_for(meal.user.photos[0]) %>" class="avatar-meallisting" />
<% end %>
