<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1516455590571-18256e5bb9ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">

  <div class="container d-flex justify-content-center">
    <h1>Welcome to CoolBean</h1>
  </div>
  <div class="container d-flex justify-content-center">
    <p>Share your love with homemade food</p>
  </div>
</div>

<div class="section p-5">


  <div class="d-flex justify-content-center mb-3">
    <h3 class="pb-2">Discover homecooked meals in Australia</h3>
  </div>
  <div class="row px-5 mx-5">
    <% @meals.each do |meal| %>
      <div class="col-12 col-sm-6 col-md-4 mb-3">

<div class="card-deck">
    <div class="card">
        <div id="<%= meal.id %>carouselExampleIndicators1" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <% meal.photos.each_with_index do |photo, index| %>
                  <li data-target="#<%= meal.id %>carouselExampleIndicators1" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
                <% end %>
            </ol>
            <div class="carousel-inner">

              <% meal.photos.each_with_index do |photo, index| %>

                <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                  <%= cl_image_tag photo.key, class:"carousel-img w-100", height: 200 %>
                </div>
              <% end %>

            </div>
            <a class="carousel-control-prev" href="#<%= meal.id %>carouselExampleIndicators1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#<%= meal.id %>carouselExampleIndicators1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <%# <div>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" style="margin-top: -4%; position: absolute; right: 1%" />
        </div> %>
        <%= link_to meal_path(meal), class:"text-decoration-none" do %>
        <div class="card-body d-flex justify-content-between" style="height: 120px;">
            <div style="width: 80%">
              <h5 class="card-title"><%= meal.title %></h5>
              <p class="card-text"><small class="text-muted"><%= meal.address %></small></p>
            </div>
            <div>
              <p class="card-text"><strong>AUD <%= meal.price_per_serving %></strong></p>
            </div>
        </div>
        <% end %>
    </div>
</div>

      </div>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center">
<div style="width: 90%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
