<div class="section p-2">
  <div class="d-flex justify-content-center">
    <h1>New Meal</h1>
  </div>

  <div class="section d-flex justify-content-center">
  <%= simple_form_for(@meal) do |f| %>
    <div><%= f.input :name %></div>

    <div><%= f.input :description %></div>

    <div><%= f.input :cuisine %></div>

    <div><%= f.input :price %></div>

    <div><%= f.input :available_quantity %></div>

    <div><%= f.input :collection_from %></div>

    <div><%= f.input :collection_to %></div>

    <div><%= f.input :photos, as: :file, input_html: { multiple: true } %></div>
    <div class="d-flex justify-content-center">
      <%= f.button :submit, class: "create"%>
    </div>
    <div class= "d-flex justify-content-center">
    <%= link_to "Return to home", meals_path(@meal), class: 'btn btn-link text-decoration-none' %>
    </div>
  <% end %>
  </div>
</div>
