<div class="section p-2">
  <div class="d-flex justify-content-center">
    <h1>New meal</h1>
  </div>

  <div class="section d-flex justify-content-center pt-3">
  <%= simple_form_for(@meal) do |f| %>
    <div id="addborder"><%= f.input :name %></div>
    <%= f.input :description %>
    <div id="addborder"><%= f.input :cuisine %></div>
    <%= f.input :available_quantity %>
    <%= f.input :price %>
    <%= f.input :collect_from %>
    <%= f.input :collect_to %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.collection_check_boxes :tag_list,    [["gluten","gluten"],["asian","asian"],["mexican","mexican"],["italian","italian"],["dessert","dessert"],["indian","indian"],["turkish","turkish"]], :first,:last, include_blank: false, include_hidden: false %>
    <div class="d-flex justify-content-center pt-3">
      <%= f.button :submit, class: "btn createmeal" %>
    </div>
    <div class="d-flex justify-content-center">
    <%= link_to "Return to home", meals_path(@meal), class: 'btn btn-link text-decoration-none' %>
    </div>
  <% end %>
  </div>
</div>
