<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="description d-flex flex-row justify-content-center">
  <div class="p-5 d-flex flex-column justify-content-center">
    <h1 class="pb-4"><%= @meal.name.capitalize %></h1>
    <p><strong>Address:</strong> <%= @meal.user.address %></p>
    <p><strong>Description:</strong> <%= @meal.description.capitalize %></p>
    <p><strong>Serving Availability:</strong> <%= @meal.available_quantity %></p>
    <p><strong>Price per Serving:</strong> AUD $<%= @meal.price %></p>
    <p><strong>Home Chef:</strong> <%= @meal.user.name %></p>

    <div class="p-2">
      <%# button_to 'Add to Cart', meal_meal_orders_path(@meal) %>
      <%= simple_form_for([@meal, @meal_order]) do |f| %>
        <%= f.input :quantity_ordered %>
        <%= f.input :pick_up %>
        <%= f.submit "Add To Cart"%>
        <%= f.submit "Checkout"%>
      <% end %>
    </div>

      <%#= link_to 'All User meals', user_path(@meal.user_id), class: 'btn btn-primary' %>
      <%#= link_to "Go Back", meals_path %>

  </div>
  <%# <div>
    <img src="https://a0.muscache.com/im/pictures/8da31ffa-daa8-4e7d-aa9b-1d81ef99369d.jpg?im_w=720" class="img" alt="barn">
  </div> %>
  <div id="carouselExampleIndicators" class="carousel slide p-9 mx-5 my-5" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-500" src="https://images.unsplash.com/photo-1621996346565-e3dbc646d9a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGFzdGF8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" width= "600" height= "500"  alt="First slide">
          </div>
          <div class="carousel-item">
              <img class="d-block w-500" src="https://images.unsplash.com/photo-1579684947550-22e945225d9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80" width= "600" height= "500" alt="Second slide">
          </div>
          <div class="carousel-item">
              <img class="d-block w-500" src="https://images.unsplash.com/photo-1613563732537-0229d46c97eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"  width= "600" height= "500" alt="Third slide">
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="sr-only">Next</span>
      </a>
  </div>
</div>
