<%# LEFT SECTION CAROUSEL & REVIEWS %>
<div class="container">
  <div class="row pt-5">
    <div class="col-6 ">
      <div class="d-flex justify-content-center align-items-center">
        <div>
         <%= render 'bigcarousel', meal: @meal %>
          <%# HI EMILY REVIEW SECTION GOES BELOW HERE%>

        </div>
      </div>
    </div>
    <%# RIGHT SECTION %>
    <div class="col-6">
      <div class="col justify-content-around showbottom">
        <div class="description descriptiontext" style="width:75%;">
          <h4><%= @meal.name.capitalize %></h1>
          <p class="pb-1"><%= humanized_money_with_symbol(@meal.price) %> per serving</p>
          <p class="pt-2"><strong>Cuisine:</strong> <%= @meal.cuisine.capitalize %></p>
          <p class="pt-2"><strong>Description:</strong> <%= @meal.description.capitalize %></p>
          <p class="pt-2"><strong>No. of servings:</strong> <%= @meal.available_quantity %></p>
          <p class="pt-2"><strong>Available from: </strong><%= @meal.collect_from.strftime("%d/%m, %I:%M %p") %> - <%= @meal.collect_to.strftime("%d/%m, %I:%M %p") %></p>
          <p class="pt-2"><strong>Address:</strong> <%= @meal.address %></p>
          <p><% @meal.tags.each do |tag| %>
              <%= tag.name %>
            <% end %></p>
          <%# <%= link_to 'All User meals', user_path(@meal.user_id), class: 'btn' %>
          <%#= link_to "Go Back", meals_path %>
        </div>
        <%# RIGHT %>
        <div class="mt-3 showform">
          <%# button_to 'Add to Cart', meal_meal_orders_path(@meal) %>
          <%= simple_form_for([@meal, @meal_order]) do |f| %>
            <%= f.input :quantity_ordered, label: "Quantity" %>
            <%= f.input :pick_up, as: :string, input_html: {type: :date}, label: "Pick up date" %>
            <%= f.input :pick_up, as: :string, input_html: {type: :time}, label: "Pick up time" %>
            <%= f.submit "Add to cart", class: "search", style: "border: none" %>
          <% end %>
        </div>
        <%# PROFILE SECTION %>
        <div class="pt-3" style="width: 70%;">
          <div class="d-flex justify-content-center">
            <img src="<%= url_for(@meal.user.photos[0]) %>" class="avatar-show" />
          </div>
          <div class="mt-2">
            <p class="d-flex justify-content-center" style="text-align: center;">Made with ❤️  by <%= @meal.user.name %></p>
          </div>
          <div class="mt-2">
            <p class="d-flex justify-content-center" style="text-align: center;"><%= @meal.user.profile %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container mb-3">
  <div class="row">
    <hr class="my-5">
    <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% if @meal.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this meal</em></small>
      <% end %>
      <% @meal.reviews.each do |review| %>
        <div>
          <% review.rating.times do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0" id="review-<%= review.id %>"><%= review.comment %></p>
          <small class="delete-link text-right flex-shrink-0"><%= link_to "delete", review_path(review), method: :delete, data: { confirm: "Are you sure you want to remove this review?"}, class: 'text-danger', remote: true %></small>
        </div>
        <hr>
      <% end %>
    </div>
   <div class="col-12 col-sm-6">
      <div class="bg-white rounded p-3 mb-5">
        <h5>Add your review</h5>
        <%= simple_form_for([@meal, @review], remote: true) do |f| %>
          <%= f.input :comment, placeholder: "Add your review here" %>
          <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating?", input_html: { data: { controller: "jquery-bar-rating" }, style: "display:none" } %>
          <%= f.submit "Submit", class:"btn search" %>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</div>
