<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

  <div>
    <div>
      <div id="carouselExampleIndicators" class="carousel slide text-center" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @meal.photos.each_with_index do |photo, index| %>
            <li data-target="#carouselExampleIndicators1" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% if @meal.photos.attached? %>
            <% @meal.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <%= cl_image_tag photo.key, height: 400, width: 800, crop: "fill", class:"big-carousel-img, height: 90px, width: 100%"%>
              </div>
            <% end %>
          <% else %>
            <%= image_tag @meal.picture_url, class:"big-carousel-img"%>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div class= "p-5 mx-auto">
  <div class="container">
    <div class="row">
      <div class= "col-lg-6 p-5 ml-5">
        <h1><%= @meal.name %></h1>
        <p><strong>Address:</strong> <%= @meal.address %></p>
        <p><strong>Description:</strong> <%= @meal.description.capitalize %></p>
        <p><strong>Serving Availability:</strong> <%= @meal.available_quantity %></p>
        <p><strong>Price per Serving: </strong><%= humanized_money_with_symbol(@meal.price) %></p>
        <p><strong>Home Chef:</strong> <%= @meal.user.name %></p>

          <%# button_to 'Add to Cart', meal_meal_orders_path(@meal) %>
          <%= simple_form_for([@meal, @meal_order]) do |f| %>
            <div class="qty-input font-weight-bold"><%= f.input :quantity_ordered %></div>
            <div class="pickup-input font-weight-bold"><%= f.input :pick_up %></div>
      </div>


      <div class= "col-lg-4 p-5 mx-auto">
              <p><%= f.submit "Add To Cart", class: 'px-5 btn btn-warning font-weight-bold' %></p>
              <p><strong><%= f.submit "Checkout", class: ' px-5 btn btn-warning font-weight-bold' %></strong></p>
              <p><%= link_to "Return to Listings", meals_path, class: ' btn btn-link text-dark>.text-dark' %></p>
              <img src= "images/theresa.png" alt="" class="avatar">
      </div>
          <% end %>


        <%#= link_to 'All User meals', user_path(@meal.user_id), class: 'btn btn-primary' %>
        <%#= link_to "Go Back", meals_path %>
    </div>
  </div>
  <%# <div>
    <img src="https://a0.muscache.com/im/pictures/8da31ffa-daa8-4e7d-aa9b-1d81ef99369d.jpg?im_w=720" class="img" alt="barn">
  </div> %>
