<%# LEFT SECTION CAROUSEL & REVIEWS %>
<div class="container" style="height: 1000px;">
  <div class="row pt-5">
    <div class="col-6 ">
        <div class="d-flex justify-content-center align-items-center">
          <div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <% @meal.photos.each_with_index do |photo, index| %>
                  <li data-target="#carouselExampleIndicators1" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
                <% end %>
              </ol>
              <div class="carousel-inner">
                <% if @meal.photos.attached? %>
                  <% @meal.photos.each_with_index do |photo, index| %>
                    <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                      <%= cl_image_tag photo.key, class:"big-carousel-img w-100"%>
                    </div>
                  <% end %>
                <% else %>
                  <%= image_tag @meal.picture_url, class:"big-carousel-img w-100"%>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <%# HI EMILY REVIEW SECTION GOES BELOW HERE%>
            <div class="p-4 mb-3" style="width:100%">
              <h4>Reviews</h3>
              <% if @meal.reviews.empty? %>
                <small><em class="text-muted">Be the first one to review this meal</em></small>
              <% end %>
              <% @meal.reviews.each do |review| %>
                <div>
                  <% review.rating.times do %>
                    <i class="fas fa-star star-yellow"></i>
                  <% end %>
                  <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
                  <p class="mb-0"><%= review.comment %></p>
                  <small class="delete-link text-right flex-shrink-0"><%= link_to "delete", review_path(review), method: :delete, data: { confirm: "Are you sure you want to remove this review?"}, class: 'text-danger' %></small>
                </div>
                <hr>
              <% end %>
            </div>

            <div class="col-12 col-sm-6">
                <div class="bg-white rounded p-3 mb-5">
                  <p><strong>Add your review</strong></p>
                  <%= simple_form_for [@meal, @review] do |f| %>
                    <%= f.input :comment, placeholder: "Add your review here" %>
                    <%= f.input :rating, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "jquery-bar-rating" } } %>
                    <%= f.submit "Submit", class:"btn search" %>
                  <% end %>
                </div>
            </div>
          </div>
        </div>
      </div>

    <%# RIGHT SECTION %>
    <div class="col-6">
      <div class="col justify-content-around showbottom">
          <div class="description descriptiontext">
            <h4><%= @meal.name.capitalize %></h1>
            <p class="pb-1"><%= humanized_money_with_symbol(@meal.price) %> per meal</p>
            <p ><strong>Address:</strong> <%= @meal.address %></p>
            <p><strong>Description:</strong> <%= @meal.description.capitalize %></p>
            <p><strong>Servings available:</strong> <%= @meal.available_quantity %></p>
            <p><% @meal.tags.each do |tag| %>
              <%= tag.name %>
              <% end %></p>

            <%# <%= link_to 'All User meals', user_path(@meal.user_id), class: 'btn' %>
            <%#= link_to "Go Back", meals_path %>
          </div>


        <%# RIGHT %>
          <div class="mt-3 showform">
              <%# button_to 'Add to Cart', meal_meal_orders_path(@meal) %>
              <%= simple_form_for([@meal, @meal_order]) do |f| %>
                <%= f.input :quantity_ordered %>
                <%= f.input :pick_up, as: :string, input_html: {type: :date}, label: "Pick up date" %>
                <%= f.input :pick_up, as: :string, input_html: {type: :time}, label: "Pick up time" %>
                <%= f.submit "Add to cart", class: "search", style: "border: none" %>
              <% end %>
          </div>

        <%# PROFILE SECTION %>
        <div class="pt-2" style="width:75%;">
          <div class="d-flex justify-content-center">
            <img src="<%= url_for(@meal.user.photos[0]) %>" class="avatar-show" />
          </div>
          <div class="mt-2">
            <p class="d-flex justify-content-center" style="text-align: center;">Made with ❤️  by <%= @meal.user.name %></p>
          </div>
          <div class="mt-2">
            <p class="d-flex justify-content-center" style="text-align: center;">User description goes here</p>
          </div>
        </div>


      </div>
    </div>
</div>
