<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="description d-flex justify-content-around"">
  <div class="mx-5">
    <div>
      <h1 class="pb-4"><%= @meal.name.capitalize %></h1>
      <p><strong>Address:</strong> <%= @meal.address %></p>
      <p><strong>Description:</strong> <%= @meal.description.capitalize %></p>
      <p><strong>Serving Availability:</strong> <%= @meal.available_quantity %></p>
      <p><strong>Price per Serving:</strong> AUD $<%= @meal.price %></p>
      <p><strong>Home Chef:</strong> <%= @meal.user.name %></p>
    </div>
    <div class="p-2">
        <%# button_to 'Add to Cart', meal_meal_orders_path(@meal) %>
        <%= simple_form_for([@meal, @meal_order]) do |f| %>
          <div class="qty-input"><%= f.input :quantity_ordered %></div>
          <div class="pickup-input"><%= f.input :pick_up %></div>
          <%= f.submit "Add to cart" %>
        <% end %>
    </div>

      <%#= link_to 'All User meals', user_path(@meal.user_id), class: 'btn btn-primary' %>
      <%#= link_to "Go Back", meals_path %>
  </div>
  <%# <div>
    <img src="https://a0.muscache.com/im/pictures/8da31ffa-daa8-4e7d-aa9b-1d81ef99369d.jpg?im_w=720" class="img" alt="barn">
  </div> %>
  <div>
    <div >
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% @meal.photos.each_with_index do |photo, index| %>
            <li data-target="#carouselExampleIndicators1" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% if @meal.photos.attached? %>
            <% @meal.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                <%= cl_image_tag photo.key, class:"big-carousel-img"%>
              </div>
            <% end %>
          <% else %>
            <%= image_tag @meal.picture_url, class:"big-carousel-img"%>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
